.card {
    margin: 15px auto;
    border: 3px solid #45457D;
    box-shadow: 2px 4px 3px -1px #45457D;
    width: 95%;
}

.profileImg {
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 3px -1px #444;
    float: left;
    margin-right: 50px;
}

p {
    margin-bottom: 0.6rem;
}

.text {
    font-size: 18px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 8px;
}