.navbar {
    background-color: #45457D;
    box-shadow: 2px 5px 8px -3px #444;
    height: 120px;
    margin-bottom: 30px;
}

.navbar-brand {
    margin: 0 auto;
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
}