.navbar {
    background-color: #45457D;
    box-shadow: 2px 5px 8px -3px #444;
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    margin: 0;
}

.input-group {
    width: 40%;
}

.searchBar, #dropdownMenuButton, .dropdown-menu {
    border-radius: 0.5rem;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    margin-top: 10px;
}

.dropdown-menu {
    border: 2px solid #444;
}

#dropdownMenuButton {
    background-color: white;
    color: #444;
    width: 110px;
}

#sortBtn, #nameBtn {
    display: inline;
}

/* Media */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 200px;
    }

    .input-group {
        width: 100%;
    }

    #dropdownMenuButton {
        width: 165px;
    }
}